@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
  /* iOS PWA hack: add safe-area-inset-top to prevent white bar at bottom */
  min-height: calc(100% + env(safe-area-inset-top));
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}
